<mat-card class="bg-warning p-1 px-md-5  m-0">
  <div class="d-flex p-0 m-0">
    <!-- left -->
    <!-- phone -->
    <div class="left px-1 d-flex">
      <div class="d-flex">
        <a href="tel:+91-8969157254" mat-stroked-button color="primary" class="border border-0">
          <span class="pr-1 callUs">Call us today!</span> <mat-icon>phone</mat-icon><span class="pl-1">+91-8969157254</span>
        </a>
      </div>
      <!-- email -->
      <div class="border border-left-1 mx-1"></div>
      <div class="d-flex">
        <a href="mailto:anup.soft.bit@gmail.com" mat-stroked-button color="primary" class="border border-0">
          <mat-icon>email</mat-icon><span class="pl-1">anup.soft.bit@gmail.com</span>
        </a>
      </div>
    </div>
     <!-- middle -->
     <div class="middle flex-grow-1 px-1 d-flex"></div>
      <!-- right -->
    <div class="right px-1 d-flex">
      <div class="d-flex">
        <!-- facebook -->
        <a mat-mini-fab class="mr-1" style="background-color: #3b5998;">
          <span class="fa fa-facebook"></span>
        </a>
        <!-- twitter -->
        <a mat-mini-fab class="mr-1" style="background-color: #00acee;">
          <span class="fa fa-twitter"></span>
        </a>
        <!-- instagram -->
        <a mat-mini-fab class="mr-1" style="background-color: #e4405f;">
          <span class="fa fa-instagram"></span>
        </a>
        <!-- github -->
        <a mat-mini-fab class="" style="background-color: #0077B5;">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
    </div>
  </div>
</mat-card>
