<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0">
    <div class="col-12 p-0 m-0">
      <!-- help -->
      <div class="help p-2">
        <!-- chip list -->
        <mat-chip-list>
          <!-- help detail -->
          <mat-chip class="w-100 bg-info text-white">
            <mat-icon>help</mat-icon><span class="pl-2">help details</span>
          </mat-chip>
          <!-- live chat -->
          <mat-chip class="w-100 bg-info text-white">
            <mat-icon>chat</mat-icon><span class="pl-2">live chat</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
