<div class="container-fluid p-0 m-0 border border-top-1 border-bottom-1">
  <div class="row m-0 p-0">
    <div class="col-12 p-0 m-0">
      <!-- categories -->
      <div class="categories px-2 py-3">
        <!-- mat chip list -->
        <mat-chip-list class="">
          <!-- web developemnt -->
          <mat-chip color="primary" class="w-100" selected>
            <mat-icon>web</mat-icon><span class="pl-2">Web Development</span>
          </mat-chip>
          <!-- digital marketing -->
          <mat-chip color="primary" class="w-100" selected>
            <mat-icon>device_hub</mat-icon><span class="pl-2">Digital Marketing</span>
          </mat-chip>
          <!-- e learning -->
          <mat-chip color="primary" class="w-100" selected>
            <mat-icon>school</mat-icon><span class="pl-2">E Learning</span>
          </mat-chip>
          <!-- blogging -->
          <mat-chip color="primary" class="w-100" selected>
            <mat-icon>rss_feed</mat-icon><span class="pl-2">Blogging</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
