<div class="container-fluid" *ngIf="!spinner">
  <div class="row">
    <div class="col-12">
      <!-- start -->
      <div class="d-flex justify-content-center py-5">
        <mat-card class="password-card">
          <form [formGroup]="changePassword" (ngSubmit)="submit()">
            <!-- title -->
            <h2 class="text-center">change password</h2>
            <!-- ---------- old password ---------- -->
            <div class="d-flex justify-content-center">
              <mat-form-field class="input-size" appearance="outline">
                <!-- label -->
                <mat-label>old password</mat-label>
                <!-- prefix icon -->
                <button mat-icon-button
                        type="button"
                        matPrefix
                        color="primary"
                        (click)="isOld = !isOld">
                  <mat-icon>
                    {{!isOld ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
                <!-- input -->
                <input matInput
                       formControlName="oldPassword"
                       [type]="isOld ? 'text': 'password'">
                <!-- suffix icon for checker -->
                <mat-icon matSuffix
                          [appText]="'green'"
                          *ngIf="f.oldPassword.valid"
                          >
                  check_circle
                </mat-icon>
                <!-- hint -->
                <mat-hint align="start" *ngIf="f.oldPassword.dirty">
                  password at least 6 characters
                </mat-hint>
                <mat-hint align="end">
                  {{f.oldPassword.value.length}}/6
                </mat-hint>
                <!-- erorr message -->
                <mat-error *ngIf="f.oldPassword.invalid">
                  old password is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- -------------------- password --------------- -->
            <div class="d-flex justify-content-center">
              <mat-form-field class="input-size" appearance="outline">
                <!-- label -->
                <mat-label>password</mat-label>
                <!-- prefix icon -->
                <button mat-icon-button
                        type="button"
                        matPrefix
                        color="primary"
                        (click)="isPass = !isPass">
                  <mat-icon>
                    {{!isPass ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
                <!-- input -->
                <input matInput
                       formControlName="password"
                       [type]="isPass ? 'text': 'password'">
                <!-- suffix icon for checker -->
                <mat-icon matSuffix
                          [appText]="'green'"
                          *ngIf="f.password.valid"
                          >
                  check_circle
                </mat-icon>
                <!-- hint -->
                <mat-hint align="start" *ngIf="f.password.dirty">
                  password at least 6 characters
                </mat-hint>
                <mat-hint align="end">
                  {{f.password.value.length}}/6
                </mat-hint>
                <!-- erorr message -->
                <mat-error *ngIf="f.password.invalid">
                  password is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- ------------------ confirm password ---------------- -->
            <div class="d-flex justify-content-center">
              <mat-form-field class="input-size" appearance="outline">
                <!-- label -->
                <mat-label>confirm password</mat-label>
                <!-- prefix icon -->
                <button mat-icon-button
                        type="button"
                        matPrefix
                        color="primary"
                        (click)="isNew = !isNew">
                  <mat-icon>
                    {{!isNew ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
                <!-- input -->
                <input matInput
                       formControlName="confirmPassword"
                       [type]="isNew ? 'text': 'password'">
                <!-- suffix icon for checker -->
                <mat-icon matSuffix
                          [appText]="'green'"
                          *ngIf="match"
                          >
                  check_circle
                </mat-icon>
                <!-- hint -->
                <mat-hint align="start" *ngIf="f.confirmPassword.dirty">
                  password at least 6 characters
                </mat-hint>
                <mat-hint align="end">
                  {{f.confirmPassword.value.length}}/6
                </mat-hint>
                <!-- erorr message -->
                <mat-error *ngIf="f.confirmPassword.invalid">
                  confirm password is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- submit -->
            <button mat-raised-button
                    type="submit"
                    class="w-100"
                    color="primary"
                    [disabled]="!match || f.invalid">
              <mat-icon>update</mat-icon>
              update password
            </button>
          </form>
        </mat-card>
      </div>
      <!-- end -->
    </div>
  </div>
</div>
<app-spinner [isSpinner]="spinner"></app-spinner>
<app-message *ngIf="response" [response]="response"></app-message>
