<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0">
    <div class="col-12 m-0 p-0 bg-light">
      <div class="d-flex justify-content-between align-items-center py-2 ">
        <!-- logo / login -->
        <div class="flex-grow-1">
          <div class="d-flex p-2">
            <div class="d-flex justify-content-center align-items-center">
              <img routerLink="/"
                   (click)="sidenavClose.emit(true)"
                   src="../../../../favicon.ico"
                   alt="helpect">
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <h2 class="p-0 m-0 pl-2 text-dark">
                <a (click)="sidenavClose.emit(true)"
                   routerLink="/">
                   HELPECT
                </a>
              </h2>
            </div>
          </div>
        </div>
        <!-- close -->
        <div class="d-flex justify-content-end align-items-center p-1">
          <button (click)="sidenavClose.emit(true)"
                  color="primary"
                  mat-icon-button
                  type="text"
                  aria-label="close">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
