<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="container-fluid p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
          <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid p-0 m-0">
     <div class="row p-0 m-0">
       <!-- header -->
       <div class="col-md-12 p-0 m-0">
         <app-header class="fixed-top" (sidenavOpener)="sidenav.open()"></app-header>
       </div>
       <!-- content -->
       <div class="col-12 p-0 topMargin">
         <router-outlet></router-outlet>
       </div>
        <!-- footer -->
       <div class="col-12 p-0 m-0"></div>
     </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
