.address-card {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
.address-box {
  overflow: auto;
}
.vertical-align {
  vertical-align: middle;
}
.addressContent {
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 600px) {
  .addressContent {
    font-size: 14px;
    line-height: 20px;
  }
}
