<div class="container-fluid p-0 m-0 border border-bottom">
  <div class="row p-0 m-0">
    <div class="col-12 p-0 m-0">
      <!-- dashboard -->
      <div class="dashboard p-2">
        <!-- chips list -->
       <mat-chip-list>
        <!-- my cart -->
        <mat-chip class="w-100 bg-success text-white">
          <mat-icon>shopping_basket</mat-icon>
          <span class="pl-2">my cart</span>
        </mat-chip>
         <!-- my order -->
        <mat-chip class="w-100 bg-success text-white">
          <mat-icon>view_list</mat-icon>
          <span class="pl-2">my order</span>
        </mat-chip>
        <!-- my whist list -->
        <mat-chip class="w-100 bg-success text-white">
          <mat-icon>favorite</mat-icon>
          <span class="pl-2">my wishlist</span>
        </mat-chip>
        <!-- end of chip -->
       </mat-chip-list>
       <!-- end of chip list -->
      </div>
    </div>
  </div>
</div>
